body {
  margin: 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(./images/tiger.jpg);
  background-position: center;
  background-size: cover;
  min-height:100vh;
}

/* styles for generated text */

.outcome {
  font-size: 1.2rem;
  line-height: 1.5;
}

/* styles for input and form */

.form-container {
  display: flex;
  flex-direction: column;
  gap: 2vw;
  align-items: center;
  margin: 2vw;
}

.input-container {
  display: flex;
  gap: 1vw;
  align-items: center;
  text-align: center;
}

.input-container input{
  font-size: 1rem;
  font-weight: 500;
}

.main-container{
  padding: 1vw 3vw;
  color: antiquewhite;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-container h3{
  font-style: italic;
}

/* styles for button */

.button-container{
  display: flex;
  gap:3vw;
}

.submit-btn , .clear-btn {
  padding: 0.5vw 1vh;
  border-radius: 0.5rem;
  background-color: antiquewhite;
}

/* google font */

.lexend {
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

/* media queries */

@media (max-width:800px) {
  .input-container{
    flex-direction: column;
  }
}